[submodule "modules/kostache"]
	path = modules/kostache
	url = git://github.com/zombor/KOstache.git
[submodule "modules/assets"]
	path = modules/assets
	url = git@github.com:badsyntax/kohana-assets.git
