<h1>Kohana 3.3 Examples</h1>
<p>Learn how to get started with Kohana 3.3.</p>
<hr />
<h2>Tutorials</h2>
<p>Tutorials include basic Kohana application and how to install and use additional modules.</p>
<ul>
  <li><a href="/tutorials/installation">Installation</a></li>
  <li><a href="/tutorials/database">Database setup</a></li>
  <li><a href="/tutorials/minion">Minion setup</a></li>
  <li><a href="/tutorials/controller">Controller setup</a></li>
  <li><a href="/tutorials/kostache">View classes (KOstache)</a></li>
  <li><a href="/tutorials/assets">Site assets</a></li>
</ul>
<hr />
<h2>Examples</h2>
<p>View working examples of different things you can do in Kohana.</p>
<p><em>Coming soon...</em></p>
<hr />
<h2>Source</h2>
<p>Feel free to download and use this site for whatever purpose:
  <a href="https://github.com/badsyntax/kohana-examples/downloads">https://github.com/badsyntax/kohana-examples/downloads</a>
</p>
<p>View the source code online at github: 
  <a href="https://github.com/badsyntax/kohana-examples">https://github.com/badsyntax/kohana-examples</a>
</p>