<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Kohana Examples</a>
      <div class="nav-collapse collapse">
        {{>nav}}
      </div>
    </div>
  </div>
</div>
